<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name="com.example.foodstore.app.JetComposeLogin"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JetComposeLoginUI">

        <activity
            android:name=".ui.theme.view.ui.theme.RatingForms"
            android:exported="false"
            android:label="@string/title_activity_rating_forms"
            android:theme="@style/Theme.VP_ALP" />
        <activity
            android:name=".ui.theme.view.MyFoodReviewsView"
            android:exported="false"
            android:label="@string/title_activity_my_food_reviews_view"
            android:theme="@style/Theme.VP_ALP" />
        <activity
            android:name=".ui.theme.view.MyRestoReviewsView"
            android:exported="false"
            android:label="@string/title_activity_my_resto_reviews_view"
            android:theme="@style/Theme.VP_ALP" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.JetComposeLoginUI.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>